@page "/listlogs"
@using System.Net.Http
@using System.Net.Http.Headers;
@using Models;
@inject HttpClient Http

<a><h5>Telegrams</h5><br /> page @pageCounter of @totalPageCounter total</a>
<br />
<button class="btn" @onclick=Prev disabled=@ShowButton>Previous</button>
<button class="btn" @onclick=Next disabled=@ShowButton>Next</button>
<button class="rightBtn btn" @onclick=All>All</button>


@if (logItems == null)
{
    <p><em>Loading...</em></p>
    <div class="loadingProgressBar">
        <img id="loading" src="/Images/loading_file.gif" width="300px" />
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Timestamp</th>
                <th>Service</th>
                <th>FrameFormat</th>
                <th>RawData</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var log in displayLogItems)
            {
                <tr>
                    <td>@log.TID</td>
                    <td>@log.Timestamp.ToString()</td>
                    <td>@log.Service</td>
                    <td>@log.FrameFormat</td>
                    <td>@log.RawData</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    public bool ShowProgressBar = false;
    public bool ShowButton = true;
    private Telegram[] logItems;
    private Telegram[] displayLogItems = new List<Telegram>().ToArray();
    private int pageCounter = 0;
    private int totalPageCounter = 0;
    private string exMsg = "";

    private const string URL = "https://192.168.1.200:1200/api/KnxTelegrams/GetKnxTelegrams";
    private string urlParameters = "";

    protected override async Task OnInitializedAsync()
    {
        Load().Wait();
    }

    async Task Prev()
    {
        if (pageCounter > 0)
        {
            var temp = pageCounter - 1;
            pageCounter = temp;
            displayLogItems = logItems.Skip(pageCounter * 10).Take(10).ToArray();
            StateHasChanged();
        }
    }

    async Task All()
    {
        displayLogItems = logItems.ToArray();
    }

    async Task Next()
    {
        if (pageCounter < totalPageCounter)
        {
            var temp = pageCounter + 1;
            pageCounter = temp;
            displayLogItems = logItems.Skip(pageCounter * 10).Take(10).ToArray();
            StateHasChanged();
        }
    }

    async void BlockButton(bool state)
    {
        ShowButton = state;
        StateHasChanged();
    }
}

@functions{
    private async Task Load()
    {

        try
        {
            var temp = await Http.GetFromJsonAsync<IEnumerable<Telegram>>(URL);
            logItems = temp.ToArray();

            totalPageCounter = logItems.Count() / 10;
            displayLogItems = logItems.Take(10).ToArray();
            if (totalPageCounter > 1)
            {
                BlockButton(false);
            }
            else
            {
                BlockButton(true);
            }
        }
        catch (Exception ex)
        {
            throw;
        }
        StateHasChanged();
    }
}
